.footer{
    border-top: 1px solid lightgray;
    background-color: black;
    color: white;
    text-align: center;
    margin-top:60px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10px;
    padding-top: 50px;
    height: 150px;
    bottom: 0;

}

.footer > p {
    font-size: 14px;
}